body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
}

.logo-container {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;    
    padding: 0rem 2rem;
}

/* Estilos del input */

.input-container {
    display: flex;
    flex-direction: column;
}

#form-registro > .input-container:last-of-type {
    margin-bottom: 1rem;
}

.logotext-container > h1 {
    font-size: 100px;
    text-align: center;
}

.logotext-container > p {
    font-size: 28px;
    color: green;
    opacity: 0.8;
    text-align: center;
}

.form {
    margin-bottom: 1rem;
}

.input {
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid lightgray;
    border-radius: 4px 4px 0 0;
    text-align: right;
    padding: 0 0.5rem;
}

.input:hover , .input:focus , .input:active {
    border-bottom: 2px solid;
    background-color: #f0e091;
    outline: none;
}

.input-label {
    position: relative;
    top: -1.8rem;
    left: 1rem;
    font-size: 0.8rem;
}

.input:hover ~ .input-label, .input:focus ~ .input-label, .input:active ~ .input-label, .input:not(:placeholder-shown) ~ .input-label {
    top: -2.2rem;
}

.input-error {
    font-size: 10px;
    margin-top: -10px;
    color: #f31a1a;
}

.button {
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    border: 0;
    background-color: #f0e091 ;
}

.button:hover {
    background-color: #badb41;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 0 0 15px white;
}

select.input {
    height: 43px;
}


/* Estilos contenedor de form */

.register-container {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-radius: 7px;
    width: 350px;
    min-height: 400px;
    box-shadow: 0 0 5px black;
    border: 1px solid;
}


.login-container {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-radius: 7px;
    width: 350px;
    min-height: 300px;
    box-shadow: 0 0 5px black;
    border: 1px solid;
}

.register-title {
    text-align: center;
}

.register-subtitle {
    margin: 1rem 0 0.5rem 0;
}

.form-container {
    padding-top: 0.7rem;
    border-top: 5px solid;
}

hr {
    margin-top: 0;
}

.link-login {
    color: inherit;
    font-size: 0.8rem;
    font-weight: bold;
    float: right;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
}

.link-login:hover {
    text-shadow: 1px 1px 4px;
}

.hidden {
    visibility: hidden;
}

.user-success {
    clear: both;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: #9aea3b;
    font-weight: bold;
    margin-top: 2rem;
    display: none;
}

@media (max-width: 324px) {
    .logo-container {
        width: 100%;
        padding: 0;
    }

    .register-container {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .login-container {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .logotext-container > h1 {
        font-size: 60px;
    }

    .logotext-container > p {
        font-size: 10px;
        color: green;
        opacity: 0.8;
        text-align: center;
    }

    .logotext-container {
        position: absolute;
        bottom: 0;
    }
}


@media (min-width: 325px) and (max-width: 450px) {
    .logo-container {
        width: 100%;
        padding: 0;
    }

    .register-container {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .login-container {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .logotext-container > h1 {
        font-size: 70px;
    }

    .logotext-container > p {
        font-size: 15px;
        color: green;
        opacity: 0.8;
        text-align: center;
    }

    .logotext-container {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 451px) and (max-width: 850px) {
    .logo-container {
        width: 50%;
        padding: 0;
    }

    .register-container {
        top: 50%;
        left: 74%;
        transform: translate(-50%, -50%);
        width: 350px;
    }

    .login-container {
        top: 50%;
        left: 74%;
        transform: translate(-50%, -50%);
        width: 350px;
    }

    .logotext-container > h1 {
        font-size: 50px;
        text-align: center;
    }

    .logotext-container > p {
        font-size: 15px;
        color: green;
        opacity: 0.8;
        text-align: center;
    }
}
